/* Typography */

html,
body {
  font-display: auto;
  font-style: normal;
  font-smooth: auto;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #2b2d42;
  background-color: #ffffff;
  max-width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
  color: #d80032;
  margin: 3vh 0;
}

h2 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #edf2f4;
  margin: 3vh 0;
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  color: #2b2d42;
  margin: 2vh 0;
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #8d99ae;
  margin: 2vh 0;
}

h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #d80032;
  margin: 1vh 0;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  color: #2b2d42;
  margin: 1vh 0;
}

a,
li a,
button,
.btn {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

a {
  color: #2b2d42;
}

a:hover {
  color: #d80032;
}

button,
.btn {
  padding: 25px 50px;
}

img {
  display: flex;
  width: 100%;
  height: auto;
}

::selection {
  background: rgba(216, 0, 50, 0.3);
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 36px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 16px;
  }

  h5,
  h6,
  p,
  .lead,
  a,
  button,
  .btn {
    font-size: 14px;
  }
}

/* Animation */

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

/* Navbar */
.navbar {
  margin: 50px;
  z-index: 999999;
  border-color: transparent;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.navbar.active {
  padding: 15px;
  background-color: #8d99ae;
  border-color: transparent;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.3);
}

.navbar .nav-item a {
  color: #2b2d42 !important;
  margin: 0 15px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.navbar .nav-item a:hover {
  color: #d80032 !important;
}

.navbar.active .call-to-action {
  margin: -45px;
  box-shadow: none;
}

.navbar .call-to-action {
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: #edf2f4;
  background-color: #d80032;
  border-color: transparent !important;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.3);
  margin: -50px;
}

.navbar .call-to-action::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    rgba(216, 0, 50, 0.3) 0%,
    rgba(237, 242, 244, 0.3) 100%
  );
  background-image: -webkit-linear-gradient(
    180deg,
    rgba(216, 0, 50, 0.3) 0%,
    rgba(237, 242, 244, 0.3) 100%
  );
  background-image: -moz-linear-gradient(
    180deg,
    rgba(216, 0, 50, 0.3) 0%,
    rgba(237, 242, 244, 0.3) 100%
  );
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

.navbar .call-to-action:hover {
  background-color: #d80032;
  border-color: #d80032;
  box-shadow: none;
}

.navbar .call-to-action:hover::before {
  opacity: 0;
}

@media screen and (max-width: 1140px) {
  .navbar .call-to-action {
    margin: -50px;
    box-shadow: none;
  }
  .navbar-nav {
    background-color: #edf2f4;
    border-color: #8d99ae;
    border-style: solid;
    border-width: 3px;
    border-radius: 6px;
    margin: 225px 0 0 0;
    padding: 25px;
    text-align: center;
    min-height: 100%;
    min-width: 100%;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
  }
  .navbar .nav-item a {
    margin: 15px;
  }
  .navbar .call-to-action {
    display: none;
  }
}
@media screen and (max-width: 720px) {
  .navbar {
    margin: 25px;
  }
}

@media screen and (max-width: 540px) {
  .navbar {
    margin: 25px;
  }
}

/* Introduction */

#introduction {
  position: relative;
}

#introduction .content {
  padding: 250px 50px;
}

#introduction .content-group {
  display: flex;
  margin: 25px 0;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

#introduction .content-group-item {
  flex: 1;
  align-self: center;
}

#introduction p {
  margin: 15px;
}

#introduction .call-to-action {
  margin: 25px 0;
  color: #edf2f4;
  background-color: #8d99ae;
  border-color: #8d99ae;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#introduction .call-to-action:hover {
  background-color: #d80032;
  border-color: #d80032;
}

#introduction .content-opposite {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/software-studio_-_launching-quickly.png");
  background-color: #2b2d42;
}

#introduction .content-opposite-image {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.3);
  animation: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll-down a span {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #ef233c;
  border-color: #d80032;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#scroll-down a span::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;

  width: 15px;
  height: 15px;
  margin: -10px 0 0 -7px;
  border-left: 3px solid #edf2f4;
  border-bottom: 3px solid #edf2f4;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  box-sizing: border-box;
}

.scroll-down a {
  content: "";
  display: block;
  position: absolute;
  top: 80%;
  left: 48%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.scroll-down a:hover {
  background-color: #ef233c;
  border-color: #d80032;
}

@media screen and (max-width: 1600px) {
  #introduction p {
    margin: 0 0 0 25px;
  }
  .scroll-down a {
    left: 47.5%;
  }
}

@media screen and (max-width: 1400px) {
  #introduction .content-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
  }
  #introduction .content-group-item {
    flex: 1;
    align-self: flex-start;
    text-align: left;
    display: block;
    width: 100%;
  }
  #introduction p {
    margin: 0;
  }
}

@media screen and (max-width: 1140px) {
  #introduction .content {
    padding: 150px 50px;
  }
  #introduction p {
    margin: 0;
  }
  #scroll-down a span,
  .scroll-down a {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  #introduction .content {
    padding: 125px 40px;
  }
}

@media screen and (max-width: 540px) {
  #introduction .content {
    padding: 125px 25px;
  }
}

/* Interest */

#interest {
  padding: 150px 100px;
  background-color: #2b2d42;
  background-image: linear-gradient(
    270deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(237, 242, 244, 1) 100%
  );
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(237, 242, 244, 1) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(237, 242, 244, 1) 100%
  );
}

#interest h4 {
  color: #d80032 !important;
}

#interest .accordion {
  margin: 50px 0;
}

#interest .accordion-item {
  padding: 25px 0;
  background-color: transparent;
  border-bottom-color: #2b2d42;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}

#interest .accordion-button {
  padding: 25px 0;
  background-color: transparent;
  font-weight: 400;
  letter-spacing: 0;
}

#interest .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2b2d42'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#interest .accordion-button:not(.collapsed) {
  color: #2b2d42;
  border-bottom-color: rgba(43, 45, 66, 0.3);
}

#interest .accordion-body {
  padding: 25px 0;
  color: #2b2d42;
  line-height: 2;
}

@media screen and (max-width: 720px) {
  #interest {
    padding: 50px 25px;
    background-image: linear-gradient(
      270deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 75%,
      rgba(237, 242, 244, 1) 100%
    );
    background-image: -webkit-linear-gradient(
      270deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 75%,
      rgba(237, 242, 244, 1) 100%
    );
    background-image: -moz-linear-gradient(
      270deg,
      rgba(43, 45, 66, 1) 0%,
      rgba(237, 242, 244, 1) 75%,
      rgba(237, 242, 244, 1) 100%
    );
  }
}

@media screen and (max-width: 540px) {
  #interest {
    padding: 50px 10px;
  }
}

/* Technology */

#technology {
  padding: 50px;
  background-color: #d80032;
}

#technology img {
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  #technology img {
    padding: 25px !important;
  }
}

@media screen and (max-width: 540px) {
  #technology {
    padding: 50px 10px;
  }
}

/* Features */

#features .content {
  padding: 150px 50px;
}

#features h2 {
  color: #2b2d42;
}

#features h4 {
  color: #8d99ae;
}

#features .content-item {
  margin: 50px 0;
}

#features .call-to-action {
  margin: 25px 0;
  color: #edf2f4;
  background-color: #8d99ae;
  border-color: #8d99ae;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#features .call-to-action:hover {
  background-color: #d80032;
  border-color: #d80032;
}

#features .content-opposite {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/software-studio_-_faster-facets.png");
  background-color: #2b2d42;
}

#features .content-opposite-image {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.3);
  animation: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media screen and (max-width: 720px) {
  #features .content {
    padding: 50px 40px;
  }
}

@media screen and (max-width: 540px) {
  #features .content {
    padding: 50px 25px;
  }
}

/* Call To Action */

#call-to-action {
  padding: 150px 50px;
  background-color: #edf2f4;
}

#call-to-action .content {
  text-align: center;
  margin: 0 0 50px 0;
}

#call-to-action .content h2 {
  color: #d80032;
  text-align: center;
}

#call-to-action .content h4 {
  color: #2b2d42;
  text-align: center;
  margin: 0 0 50px 0;
}

/* Card */

#call-to-action span {
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #edf2f4;
  margin: 3vh 0;
}

#call-to-action .card {
  padding: 15px;
}

#call-to-action .card-text {
  margin: 0 0 25px 0;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}

#call-to-action h4 {
  color: #8d99ae;
}

/* Free Plan */

#call-to-action span {
  color: #2b2d42;
}

#call-to-action h2 {
  color: #2b2d42;
}

#call-to-action .card {
  border-color: #2b2d42;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#call-to-action i {
  color: #8d99ae;
}

#call-to-action .call-to-action {
  margin: 0 0 0 15px;
  padding: 15px;
  color: #2b2d42;
  background-color: transparent;
  border-color: #2b2d42;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#call-to-action .call-to-action:hover {
  color: #edf2f4;
  background-color: #2b2d42;
  border-color: #2b2d42;
}

/* Premium Plan */

#call-to-action .featured {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.3);
  border-color: #d80032;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

#call-to-action .featured:hover {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

#call-to-action .featured h2 {
  color: #d80032;
}

#call-to-action .featured i {
  color: #d80032;
}

#call-to-action .featured .call-to-action {
  margin: 0 0 0 15px;
  padding: 15px;
  color: #d80032;
  background-color: transparent;
  border-color: #d80032;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#call-to-action .featured .call-to-action:hover {
  color: #edf2f4;
  background-color: #d80032;
  border-color: #d80032;
}

@media screen and (max-width: 1200px) {
  #call-to-action .content-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  #call-to-action .content-group-item {
    flex: 1;
    align-self: center;
    text-align: center;
    margin: 15px auto;
    display: inline-block;
    width: 100%;
  }
  #call-to-action .content-group-item {
    flex: 1;
    align-self: center;
    text-align: center;
    margin: 15px auto;
    display: inline-block;
    width: 100%;
  }
  #call-to-action .call-to-action,
  #call-to-action .featured .call-to-action {
    margin: 0;
  }
}

@media screen and (max-width: 1140px) {
  #call-to-action .card {
    margin: 0 0 25px 0;
  }
}

@media screen and (max-width: 720px) {
  #call-to-action {
    padding: 50px 25px;
  }
  #call-to-action .card-body {
    padding: 15px 0;
  }
}

@media screen and (max-width: 720px) {
  #call-to-action .card {
    max-width: 50vw;
    margin: 25px auto;
  }
}

@media screen and (max-width: 540px) {
  #call-to-action .card {
    max-width: 100vw;
  }
  #call-to-action {
    padding: 50px 10px;
  }
}

/* Review */

#review {
  position: relative;
}

#review .content-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 50px 25px;
}

#review .content-group-item {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 25px;
}

#review .content-group-item .clutch-widget {
  height: auto;
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  #review .content-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    padding: 100px auto;
  }
  #review .content-group-item {
    padding: 25px 0;
  }
}

/* Products */

#products {
  padding: 150px 50px;
  background-color: #2b2d42;
  background-image: linear-gradient(
    270deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(237, 242, 244, 1) 100%
  );
  background-image: -webkit-linear-gradient(
    270deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(237, 242, 244, 1) 100%
  );
  background-image: -moz-linear-gradient(
    270deg,
    rgba(43, 45, 66, 1) 0%,
    rgba(237, 242, 244, 1) 50%,
    rgba(237, 242, 244, 1) 100%
  );
}

#products .content {
  text-align: center;
  margin: 0 0 50px 0;
}
#products .content-secondary {
  text-align: center;
  margin: 50px 0;
}

#products h4 {
  color: #d80032 !important;
}

/* Product Cards */

#products .card {
  padding: 15px;
  border-color: #2b2d42;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#products .card-text {
  margin: 0 0 25px 0;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
}

#products .card span {
  display: block;
  width: 100%;
  margin: 3vh auto;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #2b2d42;
}

#products .card .call-to-action {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  color: #2b2d42;
  background-color: transparent;
  border-color: #2b2d42;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#products .card .call-to-action:hover {
  color: #edf2f4;
  background-color: #2b2d42;
  border-color: #2b2d42;
}

/* Product Checkout */

#products .content-group {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#products .content-group-item {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 25px 0 0;
}

#products .content-group div:last-child {
  margin: 0;
}

#products .call-to-action {
  margin: 25px 0;
  color: #edf2f4;
  background-color: #8d99ae;
  border-color: #8d99ae;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#products .call-to-action:hover {
  background-color: #d80032;
  border-color: #d80032;
}

#products .featured .call-to-action {
  color: #d80032;
  background-color: transparent;
  border-color: #d80032;
  border-style: solid;
  border-width: 3px;
  border-radius: 6px;
}

#products .featured .call-to-action:hover {
  color: #edf2f4;
  background-color: #d80032;
  border-color: #d80032;
}

/* Footer */

footer {
  padding: 25px;
  background-color: #d80032;
}

footer .nav {
  margin: 25px;
}

footer .nav-item a {
  color: #edf2f4;
  margin: 0 15px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
}

footer .nav-item a:hover {
  color: #2b2d42;
  margin: 0 15px;
}

footer .copyright p {
  text-align: center;
  color: #edf2f4;
  text-transform: uppercase;
}

footer .copyright .copyright-image {
  margin: 0 auto;
}

@media screen and (max-width: 720px) {
  footer .nav-item {
    width: 100%;
  }
  footer .nav-item a {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  footer {
    padding: 50px 10px;
  }
}
